<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ student.user.username }}</h1>
    
    <h2>Active Quizzes:</h2>
    <ul>
        {% for quiz in active_quizzes %}
            <li>{{ quiz.title }} - <a href="{% url 'quiz:quiz' quiz.pk %}">Attempt Quiz</a></li>
            {% empty %}
            <div class="alert alert-info"> Sorry You dont have any active quiz at the moment.</div>
        {% endfor %}
    </ul>
</body>
</html>